* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62, 5%;
}

.form_contacto p, .main_sesion .form_sesion h2, .h2_categorias, body h1 {
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 143, 98);
}

header, .nav_style1 {
  position: sticky;
  top: 2%;
}

.main_sesion .form_sesion .container_facebook_google, .main_index .section2_div1, footer .footer_div1, .nav_media ul, .nav_style2 .nav_div1 ul {
  display: flex;
  justify-content: space-around;
}

.main_sesion .form_sesion .container_input_sesion input, header .header_div1 .header_div1_div1 input {
  outline-color: rgb(0, 143, 98);
  border: none;
  border-radius: 50px;
}

footer, header .header_div1 .header_div1_div1 input, header .header_div1 {
  padding: 5px 15px;
}

.facebook :hover {
  color: #1877f2;
  transform: scale(1.3);
}

.instagram :hover {
  color: #c92394;
  transform: scale(1.3);
}

.twitter :hover {
  color: #00acee;
  transform: scale(1.3);
}

.youtube :hover {
  color: #c4302b;
  transform: scale(1.3);
}

.facebook :active {
  color: #1877f2;
}

.instagram :active {
  color: #c92394;
}

.twitter :active {
  color: #00acee;
}

.youtube :active {
  color: #c4302b;
}

@keyframes bordeimgindex {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
body {
  background-color: rgb(205, 205, 205);
}
body h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
}
body h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(33, 33, 33);
  font-weight: bold;
}
body h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(33, 33, 33);
}
body p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(33, 33, 33);
}
body a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 143, 98);
  text-decoration: none;
}
body a :hover {
  color: rgb(0, 143, 98);
}
body a :active {
  color: rgb(0, 143, 98);
}

.nav_style1 {
  height: 96vh;
}
@media screen and (max-width: 768px) {
  .nav_style1 {
    background-color: red;
  }
}
.nav_style1 .nav_div1 div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: normal;
  justify-content: center;
  align-items: center;
}
.nav_style1 .nav_div1 ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  width: 100%;
  margin-top: 4vh;
}
@media screen and (max-width: 600px) {
  .nav_style1 .nav_div1 ul {
    justify-content: space-between;
  }
}
.nav_style1 .nav-link {
  color: rgb(94, 94, 94);
}
.nav_style1 .nav :hover {
  color: rgb(0, 143, 98);
}
.nav_style1 .nav :active {
  color: rgb(0, 143, 98);
}
.nav_style1 .nav_div1 ul li a span {
  padding-left: 7%;
}

@media screen and (max-width: 992px) {
  .nav_style2 {
    margin-top: 10px;
  }
}
.nav_style2 .nav_div1 ul {
  width: 100%;
  margin-top: 5px;
}
@media screen and (max-width: 600px) {
  .nav_style2 .nav_div1 ul {
    justify-content: space-between;
  }
}
.nav_style2 .nav_div1 ul li {
  width: 19%;
}
@media screen and (max-width: 600px) {
  .nav_style2 .nav_div1 ul li {
    width: 22%;
  }
}
@media screen and (max-width: 480px) {
  .nav_style2 .nav_div1 ul li {
    width: 17%;
  }
}
@media screen and (max-width: 600px) {
  .nav_style2 .nav_div1 ul li a ion-icon {
    display: none;
  }
}
.nav_style2 .nav-link {
  color: rgb(94, 94, 94);
}
.nav_style2 .nav :hover {
  color: rgb(0, 143, 98);
}
.nav_style2 .nav :active {
  color: rgb(0, 143, 98);
}
.nav_style2 .nav_div1 ul li a span {
  padding-left: 7%;
}

@media screen and (max-width: 992px) {
  .h1 {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav_media {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_media {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .nav_style1 {
    display: none;
  }
}

header .header_div1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: normal;
  align-items: normal;
  background-color: rgba(17, 17, 17, 0.9);
  width: none;
  height: fit-content;
  border-radius: 50px;
}
header .header_div1 .header_div1_div1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: normal;
  justify-content: center;
  align-items: normal;
  width: 90%;
}
@media screen and (max-width: 480px) {
  header .header_div1 .header_div1_div1 {
    width: 85%;
  }
}
header .header_div1 .header_div1_div1 input {
  width: 40%;
  background-color: aliceblue;
}
@media screen and (max-width: 480px) {
  header .header_div1 .header_div1_div1 input {
    width: 60%;
  }
}
header .header_div1 .header_div1_div1 .header_div1_lupa {
  margin-left: 2%;
  font-size: 20px;
  color: aliceblue;
}
header .header_div1 .header_div1_div2 {
  width: 10%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: normal;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 480px) {
  header .header_div1 .header_div1_div2 {
    width: 15%;
  }
}
header .header_div1 .header_div1_div2 a :hover {
  transform: scale(1.3);
}

footer {
  background-color: rgba(17, 17, 17, 0.9);
  width: auto;
  height: fit-content;
}
footer h3 {
  color: rgb(0, 143, 98);
}
footer img {
  width: 10vw;
  height: 50%;
}
@media screen and (max-width: 768px) {
  footer img {
    width: 15vw;
  }
}
@media screen and (max-width: 600px) {
  footer img {
    width: 20vw;
  }
}
footer a {
  margin: 5px;
  font-size: 20px;
}
footer .footer_div2 {
  margin: 5px;
  color: rgb(94, 94, 94);
  text-align: center;
}

.main_index {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .main_index {
    margin-top: 0%;
  }
}
@media screen and (max-width: 480px) {
  .main_index .section1_div1 p {
    display: none;
  }
}
.main_index .main_section1 img {
  width: 100%;
  border-radius: 10px;
}
.main_index .section1_div2 {
  background-color: rgba(255, 237, 237, 0.535);
}
.main_index .section1_div2 p {
  margin: 10px;
  padding: 5px;
}
@media screen and (max-width: 480px) {
  .main_index .section1_div2 p {
    display: none;
  }
}
.main_index .section2_div1 {
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .main_index .section2_div1 {
    overflow: auto;
  }
}
.main_index .section2_div1 a :hover {
  transition: 0.1s;
  transform: scale(1.1);
}
.main_index .section2_div1 img {
  width: 100%;
  height: 90px;
  border-radius: 50px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .main_index .section2_div1 img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 600px) {
  .main_index .section2_div1 img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .main_index .section2_div1 img {
    width: 30px;
    height: 30px;
  }
}
.main_index .section2_div1 .img_6 {
  display: none;
}
@media screen and (max-width: 768px) {
  .main_index .section2_div1 .img_7 {
    display: none;
  }
}
.main_index .main_section3 audio {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .main_index .main_section3 audio {
    width: 100%;
  }
}
.main_index .section3_div1 {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .main_index .section3_div1 {
    flex-direction: column;
  }
}
.main_index .section3_div1_div1 {
  display: flex;
  border-bottom: solid 3px;
  border-color: rgb(37, 37, 37);
}
.main_index .section3_div1_div1 img {
  width: 6vw;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main_index .section3_div1_div1 img {
    width: 10vw;
  }
}
@media screen and (max-width: 600px) {
  .main_index .section3_div1_div1 img {
    width: 50px;
    height: 50px;
  }
}
.main_index .section3_div1_div1 p {
  margin-left: 2%;
  width: 100%;
}
.main_index .body-index .nav_style2 {
  display: none;
}
.main_index .body-index .nav_style2 div {
  display: none;
}
.main_index .body-index .nav_style2 ul {
  display: none;
}

.div_h2_categorias {
  background-image: url(../img/banner2.jpg);
  border: solid 3px;
  border-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .div_h2_categorias {
    margin-top: 0%;
  }
}

.div2_h2_categorias {
  display: flex;
  justify-content: center;
}

.h2_categorias {
  background-color: rgba(17, 17, 17, 0.9);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  padding: 3px;
  padding-left: 3px;
  width: moz-fit-content;
  border-radius: 20px;
}

.seccion_categorias div div img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
  border: solid 5px;
  border-color: aliceblue;
  border-bottom-right-radius: 0%;
}

.seccion_categorias div div p {
  width: 140px;
  padding-left: 4px;
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 3px;
  border-bottom-left-radius: 0%;
}

.main_sesion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_sesion .form_sesion {
  margin-top: 5px;
  width: 45vw;
  height: 70vh;
  background-color: rgb(219, 236, 250);
  padding: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .main_sesion .form_sesion {
    width: 70vw;
  }
}
@media screen and (max-width: 768px) {
  .main_sesion .form_sesion {
    width: 80vw;
  }
}
@media screen and (max-width: 480px) {
  .main_sesion .form_sesion {
    width: 90vw;
  }
}
.main_sesion .form_sesion h2 {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .main_sesion .form_sesion h2 span {
    display: none;
  }
}
.main_sesion .form_sesion .container_facebook_google {
  margin-bottom: 10px;
}
.main_sesion .form_sesion .container_facebook_google img {
  width: 100%;
  height: 65px;
}
.main_sesion .form_sesion .container_input_sesion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: normla;
  align-items: center;
}
.main_sesion .form_sesion .container_input_sesion input {
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .main_sesion .form_sesion .container_input_sesion input {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .main_sesion .form_sesion .container_input_sesion input {
    width: 75%;
  }
}
.main_sesion .form_sesion .container_input_sesion .boton_iniciarsesion {
  background-color: rgb(0, 143, 98);
}
.main_sesion .form_sesion .container_input_sesion a {
  color: rgb(0, 110, 255);
}
.main_sesion .form_sesion .container_input_sesion a :active {
  color: rgb(247, 28, 28);
}
.main_sesion .form_sesion .container_input_sesion p {
  color: rgb(94, 94, 94);
}

.main__div-primeraimg_nosotros img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .main__div-primeraimg_nosotros img {
    margin-top: 0%;
  }
}

.main__div-h3_nosotros {
  margin-top: 5px;
}

.main__div__div-parrafos_nosotros {
  padding: 5px;
  margin-bottom: 5px;
}

.section__div2-segundaimg_nosotros img {
  width: 100%;
  margin-top: 5px;
  height: 300px;
  object-fit: cover;
  border: solid 3px;
  border-color: aliceblue;
  border-radius: 10px;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.main__section__div-icons_nosotros ion-icon {
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .main__section_contacto {
    display: flex;
    flex-direction: column-reverse;
  }
}
.main__section_contacto a {
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .main__section_contacto .section1 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .main__section_contacto iframe {
    width: 95vw;
  }
}

.form_contacto {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
.form_contacto .btn-primaryy {
  background-color: rgb(0, 143, 98);
  border: none;
}
.form_contacto .btn-primaryy :active {
  color: rgb(0, 143, 98);
}

/*# sourceMappingURL=styles.css.map */
