* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62, 5%;
}

@font-face {
  font-family: robofan;
  src: url(../asets/fonts/robofan.zip);
}
.main__section_contacto .form_contacto h2, .h2_categorias, body h1 {
  text-align: center;
  font-size: xx-large;
  color: rgb(0, 143, 98);
}

header, .nav_style1 {
  position: sticky;
  top: 2%;
}

.main__section_contacto .section1_div1-container, .main_sesion .form {
  display: flex;
  flex-direction: column;
}

.main_index .section2_div1, footer .footer_div1, .nav_media ul, .nav_style2 .nav_div1 ul {
  display: flex;
  justify-content: space-around;
}

header .header_div1 .header_div1_div1 input {
  outline-color: rgb(74, 255, 198);
  border: none;
  border-radius: 50px;
}

footer, header .header_div1 .header_div1_div1 input, header .header_div1 {
  padding: 5px 15px;
}

.facebook :hover {
  color: #1877f2;
  transform: scale(1.3);
}

.instagram :hover {
  color: #c92394;
  transform: scale(1.3);
}

.twitter :hover {
  color: #00acee;
  transform: scale(1.3);
}

.youtube :hover {
  color: #c4302b;
  transform: scale(1.3);
}

.facebook :active {
  color: #1877f2;
}

.instagram :active {
  color: #c92394;
}

.twitter :active {
  color: #00acee;
}

.youtube :active {
  color: #c4302b;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background-color: black;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
body .containerrr {
  border-top-right-radius: 10px;
}
body h1 {
  color: rgb(0, 143, 98);
  margin: 0px;
  font-family: "Null", sans-serif;
  font-style: italic;
  font-weight: bold;
}
body h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
body h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px;
  border-color: black;
}
body p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
body a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 143, 98);
  text-decoration: none;
}
body a :hover {
  color: rgb(0, 143, 98);
}
body a :active {
  color: rgb(74, 255, 198);
}

.nav_style1 {
  background-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;
  height: 96vh;
}
.nav_style1 .nav_div1 div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: normal;
  justify-content: center;
  align-items: center;
}
.nav_style1 .nav_div1 ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  margin-top: 4vh;
}
@media screen and (max-width: 600px) {
  .nav_style1 .nav_div1 ul {
    justify-content: space-between;
  }
}
.nav_style1 .nav_div1 ul li :hover {
  transform: translate(0px, -4px);
}
.nav_style1 .nav-link {
  color: rgb(255, 255, 255);
}
.nav_style1 .nav :hover {
  color: rgb(37, 12, 111);
}
.nav_style1 .nav :active {
  color: rgb(74, 255, 198);
}
.nav_style1 .nav_div1 ul li a span {
  padding-left: 7%;
}

.nav_style2 {
  margin-top: 15px;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .nav_style2 {
    margin-top: 10px;
  }
}
.nav_style2 .nav_div1 ul {
  width: 100%;
  margin-top: 5px;
}
@media screen and (max-width: 600px) {
  .nav_style2 .nav_div1 ul {
    justify-content: space-between;
  }
}
.nav_style2 .nav_div1 ul li {
  width: 19%;
}
.nav_style2 .nav_div1 ul li:hover {
  transform: translate(0px, -4px);
}
@media screen and (max-width: 600px) {
  .nav_style2 .nav_div1 ul li {
    width: 22%;
  }
}
@media screen and (max-width: 480px) {
  .nav_style2 .nav_div1 ul li {
    width: 17%;
  }
}
@media screen and (max-width: 600px) {
  .nav_style2 .nav_div1 ul li a ion-icon {
    display: none;
  }
}
.nav_style2 .nav-link {
  color: rgb(255, 255, 255);
}
.nav_style2 .nav :hover {
  color: rgb(0, 143, 98);
}
.nav_style2 .nav :active {
  color: rgb(74, 255, 198);
}
.nav_style2 .nav_div1 ul li a span {
  padding-left: 7%;
}

@media screen and (max-width: 992px) {
  .h1 {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav_media {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_media {
    margin-top: 10px;
  }
}
.nav_media ul {
  flex-wrap: nowrap;
}
@media screen and (max-width: 480px) {
  .nav_media ul ion-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_style1 {
    display: none;
  }
}

header {
  align-items: center;
  z-index: 1;
}
header .header_div1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: normal;
  align-items: normal;
  background-color: rgba(17, 17, 17, 0.9);
  width: none;
  height: fit-content;
  border-radius: 50px;
  border-top-right-radius: 0px;
}
header .header_div1 .header_div1_div1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: normal;
  justify-content: center;
  align-items: normal;
  width: 90%;
}
@media screen and (max-width: 480px) {
  header .header_div1 .header_div1_div1 {
    width: 85%;
  }
}
header .header_div1 .header_div1_div1 input {
  width: 40%;
  background-color: aliceblue;
}
@media screen and (max-width: 480px) {
  header .header_div1 .header_div1_div1 input {
    width: 60%;
  }
}
header .header_div1 .header_div1_div1 .header_div1_lupa {
  margin-left: 2%;
  font-size: 20px;
  color: aliceblue;
}
header .header_div1 .header_div1_div2 {
  width: 10%;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: normal;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 480px) {
  header .header_div1 .header_div1_div2 {
    width: 15%;
  }
}
header .header_div1 .header_div1_div2 a :hover {
  transform: scale(1.3);
}

footer {
  background-color: rgba(17, 17, 17, 0.9);
  width: auto;
  height: fit-content;
  z-index: 1;
  box-shadow: 0 10px 30px black;
  border-top: solid 1px rgba(255, 255, 255, 0.251);
}
footer h3 {
  color: rgb(0, 143, 98);
}
footer img {
  width: 10vw;
  height: 50%;
}
@media screen and (max-width: 768px) {
  footer img {
    width: 15vw;
  }
}
@media screen and (max-width: 600px) {
  footer img {
    width: 20vw;
  }
}
footer a {
  margin: 5px;
  font-size: 20px;
}
footer .footer_div2 {
  margin: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}
footer .footer_div1_div3_div1 {
  display: flex;
  align-content: center;
}

.main_index {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .main_index {
    margin-top: 0%;
  }
}
.main_index .carousel {
  border-radius: 10px;
  overflow: hidden;
}
.main_index .carousel-item img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.main_index .carousel-item .carousel-caption {
  right: auto;
  left: 13%;
}
.main_index .carousel-item h3 {
  display: inline-block;
  position: relative;
  font-size: 55px;
  font-weight: 520;
}
@media screen and (max-width: 600px) {
  .main_index .carousel-item h3 {
    font-size: 40px;
  }
}
.main_index .carousel-item ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.6s ease-out;
}
.main_index .carousel-item :hover ::after {
  transform: scale(1);
  transform-origin: bottom left;
}
.main_index .main_section2 {
  margin-top: 10px;
  background-color: rgba(17, 17, 17, 0.9);
  box-shadow: 0 10px 30px black;
  border-bottom: solid 1px rgba(23, 23, 23, 0.536);
  border-radius: 10px;
  border-top-right-radius: 0px;
}
.main_index .main_section2 h2 {
  margin-left: 5px;
}
.main_index .section2_div1 {
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .main_index .section2_div1 {
    overflow: auto;
  }
}
.main_index .section2_div1 a :hover {
  transition: 0.1s;
  transform: scale(1.1);
}
.main_index .section2_div1 img {
  width: 100%;
  height: 90px;
  border-radius: 50px;
  object-fit: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main_index .section2_div1 img {
    width: 50px;
    height: 50px;
  }
}
.main_index .section2_div1 .img_6 {
  display: none;
}
.main_index .section2_div1 .img_7 {
  width: 90px;
}
@media screen and (max-width: 768px) {
  .main_index .section2_div1 .img_7 {
    display: none;
  }
}
.main_index .main_section3 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(17, 17, 17, 0.9);
  box-shadow: 0 10px 30px black;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}
.main_index .main_section3 h2 {
  margin-left: 5px;
}
.main_index .main_section3 p {
  margin-bottom: 5px;
}
.main_index .main_section3 audio {
  width: 150px;
}
@media screen and (max-width: 600px) {
  .main_index .main_section3 audio {
    width: 100%;
  }
}
.main_index .section3_div1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.main_index .section3_div1 .cards {
  width: 160px;
  border: solid 5px;
  border-color: rgba(114, 114, 114, 0.354);
  border-radius: 10px;
  background-color: rgba(243, 243, 243, 0.354);
  overflow: hidden;
}
.main_index .section3_div1_div1 {
  border-bottom: solid 3px;
  border-color: rgb(37, 37, 37);
}
@media screen and (max-width: 600px) {
  .main_index .section3_div1_div1 {
    border-bottom: none;
  }
}
.main_index .section3_div1_div1 img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
.main_index .section3_div1_div1 p {
  margin-left: 2%;
  width: 200%;
}
.main_index .body-index .nav_style2 {
  display: none;
}
.main_index .body-index .nav_style2 div {
  display: none;
}
.main_index .body-index .nav_style2 ul {
  display: none;
}

.div_h2_categorias {
  border: solid 3px;
  border-color: rgba(17, 17, 17, 0.9);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .div_h2_categorias {
    margin-top: 0%;
  }
}

.div2_h2_categorias {
  display: flex;
  justify-content: center;
}

.h2_categorias {
  background-color: rgba(17, 17, 17, 0.9);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  padding: 3px;
  padding-left: 3px;
  width: moz-fit-content;
  border-radius: 20px;
}

.container-categorias {
  display: flex;
  justify-content: center;
}
.container-categorias :active {
  transform: scale(0.95);
}

.container-img-categorias {
  margin-bottom: 10px;
  width: 160px;
  padding: 5px;
  background-color: rgba(243, 243, 243, 0.354);
  box-shadow: 0 10px 30px rgb(0, 0, 0);
  border-radius: 10px;
}
.container-img-categorias img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  border: solid 5px;
  border-color: aliceblue;
  border-bottom-right-radius: 0%;
}

.seccion_categorias div div p {
  width: 150px;
  padding-left: 4px;
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 3px;
  border-bottom-left-radius: 0%;
}

.main_sesion {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_sesion .form {
  padding: 30px;
  width: 460px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  background: linear-gradient(rgb(33, 33, 33), rgb(33, 33, 33)) padding-box, linear-gradient(145deg, transparent 35%, rgb(0, 143, 98), #e81cff) border-box;
  background-size: 200% 100%;
  gap: 4px;
  animation: gradient 5s ease infinite;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main_sesion .form h2 {
  color: rgb(0, 143, 98);
}
.main_sesion .form .form_div-label label {
  color: rgb(0, 143, 98);
  font-weight: 600;
}
.main_sesion .form .inputForm {
  border-bottom: 1.5px solid rgb(0, 143, 98);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}
.main_sesion .form .input {
  color: white;
  background: none;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}
.main_sesion .form .input:focus {
  outline: none;
}
.main_sesion .form .inputForm:focus-within {
  border-bottom: 1.5px solid rgb(74, 255, 198);
}
.main_sesion .form .input-checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.main_sesion .form .input-checkout div label {
  font-size: 14px;
  color: rgb(196, 196, 196);
  font-weight: 400;
}
.main_sesion .form .span {
  padding-left: 5px;
  font-size: 14px;
  margin-left: 5px;
  color: rgb(0, 143, 98);
  font-weight: 500;
  cursor: pointer;
}
.main_sesion .form .span:hover {
  color: rgb(39, 182, 137);
}
.main_sesion .form .form button {
  align-self: flex-end;
}
.main_sesion .form .button-submit {
  margin: 20px 0 10px 0;
  background-color: rgb(21, 23, 23);
  border: none;
  color: rgb(0, 143, 98);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.main_sesion .form .button-submit:hover {
  border: 1px solid rgb(0, 143, 98);
  background-color: rgb(49, 49, 49);
}
.main_sesion .form .p {
  text-align: center;
  color: rgb(196, 196, 196);
  font-size: 14px;
  margin: 5px 0;
}
.main_sesion .form .btn {
  color: rgb(237, 237, 239);
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: rgb(21, 23, 23);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.main_sesion .form .btn:hover {
  border: 1px solid rgb(0, 143, 98);
}
.main_sesion .form .btn:hover {
  color: rgb(237, 237, 239);
}

.main_nosotros {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main__div-primeraimg_nosotros img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .main__div-primeraimg_nosotros img {
    margin-top: 0%;
  }
}

.main__div-h3_nosotros {
  width: 70%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  background-color: rgba(243, 243, 243, 0.354);
}

.section__div2-segundaimg_nosotros {
  text-align: end;
}
.section__div2-segundaimg_nosotros img {
  width: 70%;
  margin-top: 5px;
  height: 300px;
  object-fit: cover;
  border: solid 3px;
  border-color: aliceblue;
  border-radius: 10px;
  border-bottom-right-radius: 0%;
}

.main__section__div-icons_nosotros ion-icon {
  margin-right: 10px;
  font-size: 20px;
}

.main__section_contacto {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .main__section_contacto {
    flex-direction: column;
    align-items: center;
  }
}
.main__section_contacto .form_contacto {
  padding: 20px;
  width: 500px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 15px 35px black;
  background: linear-gradient(rgb(33, 33, 33), rgb(33, 33, 33)) padding-box, linear-gradient(145deg, transparent 35%, rgb(0, 143, 98), #e81cff) border-box;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main__section_contacto .form_contacto .form-label {
  color: rgb(0, 143, 98);
}
.main__section_contacto .form_contacto .form-control {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px;
  border-color: rgb(0, 143, 98);
  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31);
  outline-color: rgb(0, 143, 98);
}
.main__section_contacto .form_contacto .form-control::placeholder {
  color: #8c8c8c;
}
.main__section_contacto .form_contacto .form-text {
  color: rgb(215, 215, 215);
}
.main__section_contacto .form_contacto .container-button-icon-redes {
  display: flex;
  justify-content: space-between;
}
.main__section_contacto .form_contacto .btn-primaryy {
  background-color: rgb(0, 143, 98);
  border: none;
}
.main__section_contacto .form_contacto .btn-primaryy :active {
  color: rgb(74, 255, 198);
}
.main__section_contacto .form_contacto a {
  font-size: 20px;
}
.main__section_contacto .section1_div1-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 235px;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(rgba(243, 243, 243, 0.354), #353535);
}
@media screen and (max-width: 600px) {
  .main__section_contacto .section1_div1-container {
    width: 90vw;
  }
}
.main__section_contacto .section1_div1-container h3 {
  font-size: large;
  font-weight: bold;
  color: rgb(0, 143, 98);
  border-color: #8c8c8c;
}
.main__section_contacto .section1_div1-container a {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  color: #cccccc;
}
.main__section_contacto .section1_div1-container a span {
  margin-left: 10px;
}
.main__section_contacto .section1_div1-container a span :hover {
  color: rgb(0, 143, 98);
}
.main__section_contacto .section1_div1-container iframe {
  display: flex;
}
@media screen and (max-width: 600px) {
  .main__section_contacto .section1_div1-container iframe {
    width: 85vw;
  }
}

/*# sourceMappingURL=styles.css.map */
