.main__section_contacto {
    @include tablet-chica-vertical {
        display: flex;
        flex-direction: column-reverse;
    }

    .section1_div2-contacto {
        width: 220px;
        margin-bottom: $margin;
        padding: $padding;
        border-radius: $border-radius;
        background-color: rgba(243, 243, 243, 0.354);
        @include tablet-chica-vertical {
            width: 90vw;
        }
    }
    a {
    margin-top: $margin;
    }
    .section1 {
        @include tablet-chica-vertical {
            margin-bottom: $margin*2;
        }
    }
    

    iframe {
        box-shadow: 0 10px 30px black;
        @include tablet-chica-vertical {
            width: 90vw;
        }
    
    }
}


.form_contacto {
    box-shadow: 0 10px 30px black;
    background-color: nth($background-color, 4);
    padding: $padding;
    border-radius: $border-radius;

    p {
        @extend %titulos;
    }
    .btn-primaryy {
        background-color: $boton-color;
        border: none;

        & :active {
            color: $active;
        }
    }
}