
.main_index {
    margin-top: $margin*2;
    @include tablet-vertical-max {
        margin-top: 0%;
    }
                    // primera seccion carousel   */
    .carousel {
        border-radius: $border-radius;
        overflow: hidden;
    }
    .carousel-item {
        img {
            height: 200px;
            object-fit: cover;
            border-radius: $border-radius;
        }
        .carousel-caption {
            right: auto;
            left: 13%;
        }
        h3 {
            display: inline-block;
            position: relative;
            font-size: 55px;
            font-weight: 520;
            @include tablet-chica-vertical {
                font-size: 40px;
            }
        }
        & ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform: scaleX(0);
            transform-origin: bottom left;
            transition: transform 0.6s ease-out;
        }
        & :hover ::after {
            transform: scale(1);
            transform-origin: bottom left;
        }
    }
    
                    // seccionde artistas
    .main_section2 {
        margin-top: $margin;
        background-color: nth($background-color, 1 );
        box-shadow: 0 10px 30px black;
        border-bottom: solid 1px rgba(23, 23, 23, 0.536);
        border-radius: $border-radius;
        border-top-right-radius: 0px;

        h2 {
            margin-left: calc($margin / 2);
        }
    }
    .section2_div1 {
        @extend %flex-space-around;
        border-radius: $border-radius;
        padding: $padding;
        @include tablet-chica-vertical {
            overflow: auto;
        }
        a :hover {
            transition: .1s;
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: 90px;
            border-radius: $border-radius*5;
            object-fit: cover;
            position: relative;
            border: 3px solid transparent;
            box-sizing: border-box;
            background: linear-gradient(rgb(33, 33, 33), rgb(33, 33, 33)) padding-box,
                linear-gradient(145deg, transparent 35%,rgb(0, 143, 98), #e81cff,) border-box;
            background-size: 200% 100%;
            animation: gradient 5s ease infinite;

            @include tablet-vertical-max {
                width: 60px;
                height: 60px;
            }
        }
        .img_6 {
            display: none;
        }
        .img_7 {
            width: 90px;
            @include tablet-vertical-max {
                display: none;
            }
        }
    }
     //  seccion de canciones
     .main_section3 {
        margin-top: $margin;
        margin-bottom: $margin;
        background-color: nth($background-color, 1 );
        box-shadow: 0 10px 30px black;
        border-radius: $border-radius;
        border-bottom-left-radius: 0px;
        
        h2 {
            margin-left: calc($margin / 2);
        }
        p {
            margin-bottom: calc($margin / 2);
        }
     
        audio {
            width: 150px;
            @include tablet-chica-vertical {
            width: 100%;
            }
        }
    }
    .section3_div1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: $margin;
        border-radius: $border-radius;
        margin-bottom: calc($margin / 2);
        .cards {
            width: 160px;
            border: solid 5px;
            border-color: rgba(114, 114, 114, 0.354);
            border-radius: calc($border-radius / 2);
            background-color: rgba(243, 243, 243, 0.354);
            overflow: hidden;
            
        }
    }
    .section3_div1_div1 {
        border-bottom: solid 3px;
        border-color: rgb(37, 37, 37);
        @include tablet-chica-vertical {
            border-bottom: none;
        }

        img {
            width: 100%;
            height: 150px;
            border-radius: calc($border-radius / 2);
            object-fit: cover;
        }
        
        p {
            margin-left: 2%;
            width: 200%;
        }
    }
    .body-index {
       .nav_style2 {
            display: none;

            div {
                display: none;
            }
            ul {
                display: none;
            }
       }
    }
}