
.main_index {
    margin-top: $margin*2;
    @include tablet-vertical-max {
        margin-top: 0%;
    }
                    // primera seccion logo mas parrafo   */

    .section1_div1 p {
        @include mobile-horizontal {
            display: none;
        }
    }
    .main_section1 {
        background-color: rgba(243, 243, 243, 0.354);
        border-bottom: solid 1px rgba(23, 23, 23, 0.536);
        border-radius: $border-radius;
        border-bottom-left-radius: 0px;
        .main_section1_div1 {
            text-align: center;
            width: 100%;
            height: 200px;
            border-radius: $border-radius;
            background-color: rgb(37, 12, 111);
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile-horizontal {
                height: 100px;
            }

            h2 {
                font-family: Null, sans-serif;
                font-weight: bold;
                font-size: 500%;

            @include mobile-horizontal {
                font-size: 400%;
            }
            @include mobile-vertical {
                font-size: xx-large;
            }
            }
        }
    }
    .section1_div2 {
        background-color: nth($background-color,2);
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
             // texto
        p {
            margin: $margin;
            padding: calc($padding / 2);
            @include mobile-horizontal {
                display: none;
            }
        }
    }                     // seccionde artistas
    .main_section2 {
        margin-top: $margin;
        box-shadow: 0 10px 30px black;
        border-bottom: solid 1px rgba(23, 23, 23, 0.536);
        border-radius: $border-radius;
        border-top-right-radius: 0px;

        h2 {
            margin-left: calc($margin / 2);
        }
    }
    .section2_div1 {
        @extend %flex-space-around;
        background-color: nth($background-color, 1 );
        border-radius: $border-radius;
        padding: $padding;
        @include tablet-chica-vertical {
            overflow: auto;
        }
        a :hover {
            transition: .1s;
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: 90px;
            border-radius: $border-radius*5;
            object-fit: cover;
            position: relative;
            
            @include tablet-vertical-max {
                width: 50px;
                height: 50px;
            }
        }
        .img_6 {
            display: none;
        }
        .img_7 {
            width: 90px;
            @include tablet-vertical-max {
                display: none;
            }
        }
    }
     //  seccion de canciones
     .main_section3 {
        margin-top: $margin;
        margin-bottom: $margin;
        box-shadow: 0 10px 30px black;
        border: solid 1px rgba(23, 23, 23, 0.536);
        border-radius: $border-radius;
        border-bottom-left-radius: 0px;

        h2 {
            margin-left: calc($margin / 2);
        }
        p {
            margin-bottom: calc($margin / 2);
        }
     
        audio {
            width: 50%;
            @include tablet-chica-vertical {
            width: 100%;
            }
        }
    }
    .section3_div1 {
        margin-left: calc($margin / 2);
        margin-right: calc($margin / 2);
        margin-bottom: $margin;
        padding: calc($padding / 2);
        background-color: rgba(243, 243, 243, 0.354);
        box-shadow: 0 10px 30px black;
        border: solid 1px rgba(23, 23, 23, 0.536);
        border-radius: $border-radius;
        display: flex;
        justify-content: space-between;
        margin-bottom: calc($margin / 2);
        @include tablet-chica-vertical {
            flex-direction: column;
        }
    }
    .section3_div1_div1 {
        display: flex;
        border-bottom: solid 3px;
        border-color: rgb(37, 37, 37);
        @include tablet-chica-vertical {
            border-bottom: none;
        }

        img {
            width: 6vw;
            height: 100%;
            border-radius: calc($border-radius / 2);
            object-fit: cover;
            @include tablet-vertical-max {
                width: 10vw;
            }
            @include tablet-chica-vertical {
                width: 50px;
                height: 50px;
            }
        }
        
        p {
            margin-left: 2%;
            width: 100%;
        }
    }
    .body-index {
       .nav_style2 {
            display: none;

            div {
                display: none;
            }
            ul {
                display: none;
            }
       }
    }
}